{% extends "header.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- How It's Work -->
<section class="popular-job">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="ulockd-main-title">
                    <h3 class="mt0">How It Works?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 prpl5">
                <div class="icon_box_hiw">
                    <div class="icon"><div class="list_tag float-right"><p>1</p></div><span class="flaticon-unlocked"></span></div>
                    <div class="details">
                        <h4>Create An Account</h4>
                        <p>Create an account and we'll match you with the right job postings.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 prpl5 mt20-xxsd">
                <div class="icon_box_hiw">
                    <div class="icon middle"><div class="list_tag float-right"><p>2</p></div><span class="flaticon-job"></span></div>
                    <div class="details">
                        <h4>Search Jobs</h4>
                        <p>Check job information, submit resume, wait for review notification.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 prpl5 mt20-xxsd">
                <div class="icon_box_hiw">
                    <div class="icon"><div class="list_tag float-right"><p>3</p></div><span class="flaticon-trophy"></span></div>
                    <div class="details">
                        <h4>Save & Apply</h4>
                        <p>Check the status of your resume to confirm that you have been hired.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features Job List Design -->
<section class="popular-job bgc-fa pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ulockd-main-title">
                    <h3 class="mt0">Featured Jobs</h3>
                    <a class="text-thm float-right" href="/job">Browse All Jobs <i class="flaticon-right-arrow pl15"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
          {% for job in jobs %}
            <div class="col-sm-12 col-lg-12" style="height: 200px;margin-bottom: 20px">
                <div class="fj_post" style="height: 200px">
                    <div class="details">
                        <div class="thumb fn-smd">
                            <img width="135" height="135" class="img-fluid" src="{{ job.company.logo }}" alt="Not yet uploaded！">
                        </div>
                        <b>{{ job.name}}</b>&nbsp;&nbsp;
                        <div style="display: block">
{#                            {{ job.tag_list }}#}
                            {% if job.tag_list %}
                                {% for tag in job.tag_list[:2] %}
                                    {% if tag != '' %}
                                        <span class="index-label"><small>{{ tag }}</small></span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div style="margin-top: 40px">Posted by <a class="text-thm" href="{{ url_for('company.detail', company_id=job.company.id) }}">{{ job.company.name }}</a></div>
                        <ul class="featurej_post" style="margin-top: 20px">
                            <li class="list-inline-item"><span class="flaticon-location-pin"></span>{{ job.city }}</li>
                            <li class="list-inline-item"><span class="flaticon-price pl20" style="padding: 0;color: #fd5f39;" ></span><span style="font-size: 18px; float: right; margin-right: 12px; color: #fd5f39;">{{ job.salary_min }}k-{{ job.salary_max }}k</span></li>
                        </ul>
                    </div>
                    <a class="btn btn-md btn-transparent float-right fn-smd" href="{{ url_for('job.detail', job_id=job.id) }}">Browse Job</a>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block footer%}
     <section class="footer_top_area p0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-2 pb25 pt25">
					<div class="logo-widget">
						<span  style="color: whitesmoke;display: inline-block;font-size: 28px;font-weight: 900;margin: auto;height: 91px;display: flex;align-items: center;">Part-time</span>
					</div>
				</div>
				<div class="col-sm-12 col-lg-6 pb25 pt25 pl60 pr40 brdr_left_right">
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<div class="funfact_one">
								<div class="timer">{{ statistics.job }}</div>
								<p>Jobs Posted</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<div class="funfact_one">
								<div class="timer">{{ statistics.company }}</div>
								<p>Companies</p>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
							<div class="funfact_one">
								<div class="timer">{{ statistics.user }}</div>
								<p>Freelancer</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-4 pb25 pt25 pl30">
					<div class="footer_social_widget mt15">
						<p class="float-left mt10">Follow Us</p>
						<ul>
							<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}